<!DOCTYPE html>
<html lang="en">
    <%= erb :_head %>
    <body>
        <div class="wrapper">
            <div class="sidebar-wrapper">
                <%= erb :_main_info %>
                <%= erb :_contacts %>
                <%= erb :_languages %>
                <%= erb :_interests %>
            </div>
            <div class="main-wrapper">
                <%= erb :_experiences %>
                <%= erb :_education %>
                <%= erb :_certificates %>
                <%= erb :_projects %>
                <%= erb :_skills %>
            </div>
        </div>
        <%= erb :_footer %>
    </body>
</html> 
